html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
:focus {
	outline: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    background-image: url("../video/solution_screen.gif");
    background-color:#000;
 
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.timer {
	position: fixed;
	top:88px;
	left:98px;
	margin: 0px;
	font-family: 'VT323', monospace;
	font-size: 75pt;
	color: #f50000;
}
.text{
	position: fixed;
	width: 1500px;
    left: 215px;
    top:360px;
    margin: 0px;
	font-family: 'VT323', monospace;
	font-size: 45pt;
	color: #00c6f5;
}
ul.number{
	position: fixed;
	width: 320px;
    left:1274px;
    margin: 0px;    
    top:94px;
	font-family: 'VT323', monospace;
	font-size: 70pt;
	   
}
ul.number li{
	display: inline;
	margin-left: 5px;
	color: #f50000;
	opacity: 0.5;
}
